---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";

const { card, image, alt, reverseOrder } = Astro.props;
---

<!--  < 768px  -->
<div
  class="md:hidden relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
>
  <div class="flex items-center mb-4">
    <Icon name={card.icon} class="w-12 h-12" />
    <div class="ml-4 text-xl font-bold">{card.title}</div>
  </div>
  <div>
    <Picture
      src={image}
      class="object-cover w-full h-60 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
      widths={[400, 900]}
      sizes="(max-width: 900px) 400px, 900px"
      alt={alt}
      aspectRatio="4:4"
    />
  </div>
  <p class="text-gray-500 dark:text-gray-400 text-md mt-4 mb-8">
    {card.description}
  </p>
  <div class="flex flex-1 items-end justify-center">
    <a class="btn btn-ghost" href={card.buttonLink}>{card.buttonTitle}</a>
  </div>
</div>

<!-- MD: > 768px version -->
{
  reverseOrder ? (
    <>
      <div class="hidden md:block">
        <Picture
          src={image}
          class="object-cover w-full h-80 md:h-80 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
          widths={[400, 900]}
          sizes="(max-width: 900px) 400px, 900px"
          alt={alt}
          aspectRatio="4:4"
        />
      </div>
      <div class="hidden md:flex relative flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
        <div class="flex items-center mb-4 ml-4">
          <Icon name={card.icon} class="w-12 h-12" />
          <div class="ml-4 text-xl font-bold">{card.title}</div>
        </div>
        <p class="text-gray-500 dark:text-gray-400 text-md mb-8">
          {card.description}
        </p>
        <div class="flex flex-1 items-end justify-center">
          <a class="btn btn-ghost" href={card.buttonLink}>
            {card.buttonTitle}
          </a>
        </div>
      </div>
    </>
  ) : (
    <>
      <div class="hidden md:flex relative flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
        <div class="flex items-center mb-4 ml-4">
          <Icon name={card.icon} class="w-12 h-12" />
          <div class="ml-4 text-xl font-bold">{card.title}</div>
        </div>
        <p class="text-gray-500 dark:text-gray-400 text-md mb-8">
          {card.description}
        </p>
        <div class="flex flex-1 items-end justify-center">
          <a class="btn btn-ghost" href={card.buttonLink}>
            {card.buttonTitle}
          </a>
        </div>
      </div>
      <div class="hidden md:block">
        <Picture
          src={image}
          class="object-cover w-full h-80 md:h-80 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
          widths={[400, 900]}
          sizes="(max-width: 900px) 400px, 900px"
          alt={alt}
          aspectRatio="4:4"
        />
      </div>
    </>
  )
}
